

#inner-container{
    min-width: 550px;
}

.titles { 
    font-family: 'Helvetica Neue',sans-serif ; 
    font-weight: bold;    
}

body {
    /* background covers the whole screen */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-45deg, yellow 0%, yellow 25%, yellow 51%, #ff357f 100%);
    
    background-size: 300% 300%;
    animation: AnimateBG 20s ease infinite;
  }
  

#mail{
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    border: 0;
    border-bottom: 1px solid grey;
}

#mail:focus-visible{
    border: 0;
}




  
    @keyframes AnimateBG {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }